.container {
    width:100%;
    border:1px solid #d3d3d3;
}
.container div {
    width:100%;
}
.container .header {
    background-color:#d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.container .content {
    display: none;
    padding : 5px;

.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.project-card {
  width: 23%;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.project-card a {
  text-decoration: none;
  color: inherit;
}

.project-card img {
  width: 100%;
  height: auto;
}

.project-card h3 {
  font-size: 1.25em;
  margin: 10px 0;
}

.project-card p {
  font-size: 1em;
  color: #555;
  padding: 0 10px 10px;
}
